.routing-button {
  height: 150px;
}

.button-label {
  display: block;
  text-decoration: none;
}

.info-icon {
  font-size: 128px;
}

.info-row {
  margin: 8px 0px;
  display: block;
}

.location-btn {
  height: 70px;
}
